[submodule "blocks/GlslParams"]
	path = blocks/GlslParams
	url = https://github.com/rezaali/Cinder-GlslParams.git
[submodule "blocks/LiveAsset"]
	path = blocks/LiveAsset
	url = https://github.com/rezaali/Cinder-LiveAsset.git
[submodule "blocks/Paths"]
	path = blocks/Paths
	url = https://github.com/rezaali/Cinder-Paths.git
